.rainbow {
    overflow: hidden;
    background: linear-gradient(45deg, #ff8a00, #e52e71, #9b00bb, #5c5cff, #3e64ff, #00bfff);
    background-size: 400% 400%;
    animation: gradientAnimation 10s ease infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}


body {
    background-color: rgb(14, 14, 58);
    width: 100%;

    /* overflow: hidden; */
}

#version {
    color: white;

    margin: 1rem;
}

#theme {
    position: absolute;
    top: 0;
    right: 0;

    padding: 1.5rem;
    margin: 2rem 2rem 0 0;

    background-color: transparent;
    outline: 0.15rem solid yellow;
    border-radius: 0.3rem;

    background-image: url(../media/game-symbols/dark.png);
    background-repeat: no-repeat;
    background-size: 2.5rem;
    background-position-x: center;
    background-position-y: center;
}


header {
    margin-bottom: 3rem;
}

h1 {
    margin-top: 8rem;
    color: yellow;
    font-size: 2rem;
    text-align: center;
    line-height: 3rem;
    letter-spacing: 0.1rem;
}

section {
    width: 43rem;
    margin: 8rem auto 0 auto;

    display: flex;
    justify-content: space-around;
}

.games {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}


.games div {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: yellow;
}

.temp-solo-stretch-2 {
    grid-column: span 2;
}/* TODO delete */


.section-title {
    color: yellow;
    font-size: 2.5rem;
    margin-bottom: 2rem;
    border-bottom: 0.2rem solid yellow;
    width: 100%;
}

input,
label {
    text-align: center;
    display: block;
}

label {
    margin: 0 auto 0.5rem auto;
    color: red;
}

input {
    font-size: 3rem;

    color: yellow;
    background-color: rgb(14, 14, 58);
    border: 0.2rem solid yellow;
    border-radius: 10px;

    margin: 0rem auto;

}

a {
    outline: 0.15rem solid yellow;
    border-radius: 0.3rem;

    width: 3rem;
    height: 3rem;

    margin: 0.5rem;

    transition: transform 0.2s;
}

#soon a {
    outline-color: red;
}

a:hover {
    transform: scale(1.5);
}

/*---------------The symbols---------------*/
#tik-tak-toe {
    background-image: url("../media/game-symbols/tik-tak-toe.png");
    background-repeat: no-repeat;

    background-size: 2.5rem;
    background-position-x: center;
    background-position-y: center;
}

#memory {
    background-image: url("../media/game-symbols/memory.png");
    background-repeat: no-repeat;

    background-size: 2.5rem;
    background-position-x: center;
    background-position-y: center;
}

#hangman {
    background-image: url("../media/game-symbols/hangman.png");
    background-repeat: no-repeat;

    background-size: 3rem;
    background-position-x: center;
    background-position-y: center;
}

#words {
    background-image: url("../media/game-symbols/words.png");
    background-repeat: no-repeat;

    background-size: 2.25rem;
    background-position-x: center;
    background-position-y: center;
}

#simon-says {
    background-image: url("../media/game-symbols/simon.png");
    background-repeat: no-repeat;

    background-size: 2.8rem;
    background-position-x: center;
    background-position-y: center;
}

#snake {
    background-image: url("../media/game-symbols/snake.png");
    background-repeat: no-repeat;

    background-size: 3.5rem;
    background-position-x: center;
    background-position-y: center;
}

#pong {
    background-image: url("../media/game-symbols/pong.png");
    background-repeat: no-repeat;

    background-size: 2.4rem;
    background-position-x: center;
    background-position-y: center;
}

#rainbow {
    background-image: url("../media/game-symbols/rainbow.png");
    background-repeat: no-repeat;

    background-size: 2.8rem;
    background-position-x: center;
    background-position-y: center;
}

.hidden {
    display: none;
}

@media screen and (max-width: 768px) {
    /*PHONE*/
    input {
        font-size: 1.3rem;
        padding: 0.75rem 0;
    }

    section {
        width: -webkit-fill-available;
    }

}