/*---------------------------------DEFAULT-HOME-------------------------------------*/
.theme-dark-blue-bg {
    background-color: rgb(14, 14, 58);
}

.theme-dark-blue-not-bg {
    color: yellow;
}

.theme-dark-blue-game-icons {
    filter: none;
}

.theme-dark-blue-border {
    border-color: yellow;
}


/*---------------------------------GREY-HOME-------------------------------------*/

.theme-grey-bg {
    background-color: rgb(191, 187, 187);
}

.theme-grey-not-bg {
    color: black;
}

.theme-grey-game-icons {
    filter: hue-rotate(180deg) invert(100%);
}

.theme-grey-border {
    border-color: black;
}

/*///----------------------------------------------------------------------------------------------*/