body {
    background-color: rgb(14, 14, 58);

    width: 100%;

    /* overflow: hidden; */
}

header {
    width: 30%;
    margin: 5rem auto 3rem auto;

    border-bottom: 0.1rem solid yellow;

    margin-bottom: 1.5rem;
}

h1 {
    color: yellow;
    font-size: 2rem;
    text-align: center;
}

h2 {
    color: yellow;
    font-size: 3rem;

    margin-bottom: 4rem;
}

.playing-game {
    width: 27.2%;
    height: 40.1rem;

    margin: auto auto;
    padding: 1rem;

    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.625rem;
    width: 100%;
    height: min-content;
    margin: 0 auto;
    padding: 1rem
}

.cell {
    box-sizing: border-box;
    text-align: center;
    padding: 42%;
}

footer {

    display: grid;

    width: 27.2%;
    height: 49vh;
    margin: 2rem auto 0 auto;
    text-align: center;


}

footer a {

    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
    color: rgb(14, 14, 58);

    background-color: yellow;
    border-radius: 1rem;

    padding: 1rem;
}

footer a:hover {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
    color: yellow;

    background-color: rgb(14, 14, 58);
    outline: 0.2rem solid yellow;
    border-radius: 1rem;

    padding: 1rem;
}

.buttons {
    margin-top: 5rem;
}

footer a[href='index'] {
    margin-left: 7rem;
}

#curPlayer {
    color: yellow;
    font-size: 3rem;
    text-align: center;

    margin-bottom: 2rem;
}

#back-button {
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 2rem;
    color: rgb(14, 14, 58);

    padding: 1rem 0;

    background-color: yellow;
    border-radius: 1rem;
}


div[data-idx="0"],
div[data-idx="1"],
div[data-idx="3"],
div[data-idx="4"],
div[data-idx="6"],
div[data-idx="7"] {
    border-right: yellow 0.3rem solid;
}

div[data-idx="0"],
div[data-idx="1"],
div[data-idx="2"],
div[data-idx="3"],
div[data-idx="4"],
div[data-idx="5"] {
    border-bottom: yellow 0.3rem solid;
}

/*-------------------------------------------------------------------------------------*/

.X {
    background-image: url(../media/tik-tak-toe/X.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 60%;
}

.O {
    background-image: url(../media/tik-tak-toe/O.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 62%;
}

/*-------------Horizontal--------------*/
.winHor0 {
    position: relative;
    z-index: 500;
    width: 110%;
    margin-left: -1.6rem;
    margin-top: -24.5rem;
}

.winHor1 {
    position: relative;
    z-index: 500;
    width: 110%;
    margin-left: -1.6rem;
    margin-top: -16.5rem;
}

.winHor2 {
    position: relative;
    z-index: 500;
    width: 110%;
    margin-left: -1.6rem;
    margin-top: -8.5rem;
}

/*--------------Vertical---------------*/
.winVer0 {
    position: relative;
    z-index: 500;
    width: 110%;
    margin-left: -9.45rem;
    margin-top: -17rem;
    rotate: 90deg;
}

.winVer1 {
    position: relative;
    z-index: 500;
    width: 110%;
    margin-left: -1.45rem;
    margin-top: -17rem;
    rotate: 90deg;
}

.winVer2 {
    position: relative;
    z-index: 500;
    width: 110%;
    margin-left: 6.75rem;
    margin-top: -17rem;
    rotate: 90deg;
}

/*--------------Diagonal-------------*/
.winDiaLeft {
    position: relative;
    z-index: 500;
    width: 134%;
    margin-left: -4.45rem;
    margin-top: -17rem;
    rotate: 44.5deg;
}

.winDiaRight {
    position: relative;
    z-index: 500;
    width: 134%;
    margin-left: -4.45rem;
    margin-top: -17rem;
    rotate: -44.5deg;
}

/*-------------------------------------*/

/* div {
    padding: 2.5rem 0;
} */

@media screen and (max-width: 768px) {
    /*PHONE*/

    header {
        width: 50%;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    main {
        width: 80%;
    }

    #curPlayer {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    footer {
        display: inline;
        width: 90%;
        margin-top: 2rem;
    }

    footer a {
        /*buttons*/
        text-decoration: none;
        font-weight: bold;
        color: rgb(14, 14, 58);
        background-color: yellow;
        border-radius: 1rem;
        margin: -7rem 1rem -7rem 0.5rem;
        padding: 1rem;
    }

    .playing-game {
        width: auto;
        height: 40.1rem;
        margin: auto auto;
        padding: 1rem;
        text-align: center;
    }

    div input {
        font-size: 1rem;
    }

    #lobby .lobby-buttons button {
        font-size: 1rem;
    }

    .board {
        width: auto;
    }

    h1 {
        color: green;
        font-size: 2rem;
    }

    h2 {
        color: yellow;
        font-size: 2rem;
        margin: 0 auto 3rem auto;
    }

    section {
        height: 47%;

        display: grid;
        grid-template-columns: repeat(3, 5.5rem);
        grid-template-rows: repeat(3, 5.5rem);

        margin: 0 auto;
    }

    .gameover {
        height: auto;
    }

    #back-button {
        margin-top: 2rem;
        padding: 1rem 0;
    }

    /*-------------Horizontal--------------*/
    .winHor0 {
        position: relative;
        z-index: 500;
        width: 82%;
        margin: -20.5rem auto 0 auto;
        margin-top: -20rem;
    }

    .winHor1 {
        position: relative;
        z-index: 500;
        width: 82%;
        margin: -20.5rem auto 0 auto;
        margin-top: -14.5rem;
    }

    .winHor2 {
        position: relative;
        z-index: 500;
        width: 82%;
        margin: -20.5rem auto 0 auto;
        margin-top: -8.85rem;
    }

    /*--------------Vertical---------------*/
    .winVer0 {
        position: relative;
        z-index: 500;
        width: 82%;
        margin-left: -3.55rem;
        margin-top: -14.5rem;
        rotate: 90deg;
    }

    .winVer1 {
        position: relative;
        z-index: 500;
        width: 82%;
        margin-left: 1.9rem;
        margin-top: -14.5rem;
        rotate: 90deg;
    }

    .winVer2 {
        position: relative;
        z-index: 500;
        width: 82%;
        margin-left: 7.6rem;
        margin-top: -14.5rem;
        rotate: 90deg;
    }

    /*--------------Diagonal-------------*/
    .winDiaLeft {
        position: relative;
        z-index: 500;
        width: 96%;
        margin-left: 0.3rem;
        margin-top: -14.5rem;
        rotate: 45deg;
    }

    .winDiaRight {
        position: relative;
        z-index: 500;
        width: 96%;
        margin-left: 0.3rem;
        margin-top: -14.5rem;
        rotate: -44.5deg;
    }

    /*-------------------------------------*/
}

.win-gameover {
    background-color: red;
    border-radius: 30px;
    border: 0.2rem solid yellow;
}




#lobby {
    margin-top: 10rem;
}

label {
    margin: 0 auto 0.5rem auto;
    color: red;
    font-size: 2rem;
}

input {
    display: block;
    color: yellow;
    font-size: 3rem;

    background-color: rgb(14, 14, 58);
    border: 0.2rem solid yellow;
    border-radius: 10px;

    padding: 1rem;
    margin: 0 auto 3rem auto;
}

#lobby .lobby-buttons {
    text-align: center;
}

#lobby button {
    font-size: 3rem;
    background-color: yellow;
    color: rgb(14, 14, 58);
    ;

    padding: 2rem 3rem;

    border-radius: 20px;
}

#lobby button:hover {
    font-size: 3rem;
    background-color: rgb(14, 14, 58);
    color: yellow;

    border: 0.3rem solid yellow;
}

.join {
    margin-left: 5rem;
}

#wfp {
    color: yellow;

    text-align: center;
    font-size: 4rem;

    margin: 4rem auto;
}

#wfp p:first-child {
    margin-bottom: 3rem;
}

#code {
    color: red;
}


.hidden {
    display: none;
}