@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

body {
    background-color: rgb(14, 14, 58);
    
    width: 100%;

    overflow: hidden;

}

header {
    width: 30%;
    margin: 5rem auto 3rem auto;

    border-bottom: 0.1rem solid yellow;

    margin-bottom: 3rem;

    
    /* filter: blur(3px); */
}

img[alt='back'] {
    height: 1rem;
    margin-left: 0.5rem;
}

h1 {
    color: yellow;
    font-size: 2rem;
    text-align: center;
}

h2 {
    color: yellow;
    font-size: 3rem;

    margin-bottom: 4rem;

    animation: scale 0.5s infinite;
}

main {
    width: 27.2%;
    height: 40.1rem;

    margin: auto auto;
    padding: 1rem;

    text-align: center;
}

footer {

    display: grid;

    width: 27.2%;
    height: 49vh;
    margin: 5rem auto 0 auto;
    text-align: center;
}

footer a {

    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
    color: rgb(14, 14, 58);

    background-color: yellow;
    border-radius: 1rem;

    margin: 3rem 3rem 3rem 3rem;
    padding: 1rem;
}

footer a:hover {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3rem;
    color: yellow;

    background-color: rgb(14, 14, 58);
    outline: 0.2rem solid yellow;
    border-radius: 1rem;

    margin: 3rem;
    padding: 1rem;
}

#curPlayer {
    color: yellow;
    font-size: 3rem;
    text-align: center;

    margin-bottom: 5rem;
}

section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 8rem);

    padding: 1rem;
    margin-bottom: 2rem;
}

#back-button {
    display: block;
    width: 100%;
    text-decoration: none;
    font-size: 2rem;
    color: rgb(14, 14, 58);

    padding: 1rem 0;

    background-color: yellow;
    border-radius: 1rem;
}

.hidden {
    display: none;
}

div[data-idx="0"],
div[data-idx="1"],
div[data-idx="3"],
div[data-idx="4"],
div[data-idx="6"],
div[data-idx="7"] {
    border-right: yellow 0.3rem solid;
}

div[data-idx="0"],
div[data-idx="1"],
div[data-idx="2"],
div[data-idx="3"],
div[data-idx="4"],
div[data-idx="5"] {
    border-bottom: yellow 0.3rem solid;
}

/*-------------------------------------------------------------------------------------*/

.X {
    background-image: url(../media/tik-tak-toe/X.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 60%;
}

.O {
    background-image: url(../media/tik-tak-toe/O.png);
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    background-size: 62%;
}

.board div {
    z-index: 0;
    padding: 2.5rem 0;
}

footer div {
    /* margin-bottom: -5rem; */
}

img {
    /* filter: blur(3px); */
}

/*-------------Horizontal--------------*/
.winHor0 {
    position: relative;
    z-index: 500;
    width: 110%;
    margin-left: -1.6rem;
    margin-top: -24.5rem;
}

.winHor1 {
    position: relative;
    z-index: 500;
    width: 110%;
    margin-left: -1.6rem;
    margin-top: -16.5rem;
}

.winHor2 {
    position: relative;
    z-index: 500;
    width: 110%;
    margin-left: -1.6rem;
    margin-top: -8.5rem;
}

/*--------------Vertical---------------*/
.winVer0 {
    position: relative;
    z-index: 500;
    width: 110%;
    margin-left: -9.45rem;
    margin-top: -17rem;
    rotate: 90deg;
}

.winVer1 {
    position: relative;
    z-index: 500;
    width: 110%;
    margin-left: -1.45rem;
    margin-top: -17rem;
    rotate: 90deg;
}

.winVer2 {
    position: relative;
    z-index: 500;
    width: 110%;
    margin-left: 6.75rem;
    margin-top: -17rem;
    rotate: 90deg;
}

/*--------------Diagonal-------------*/
.winDiaLeft {
    position: relative;
    z-index: 500;
    width: 134%;
    margin-left: -4.45rem;
    margin-top: -17rem;
    rotate: 44.5deg;
}

.winDiaRight {
    position: relative;
    z-index: 500;
    width: 134%;
    margin-left: -4.45rem;
    margin-top: -17rem;
    rotate: -44.5deg;
}

/*-------------------------------------*/

/* div {
    padding: 2.5rem 0;
} */

@media screen and (max-width: 768px) {
    /*PHONE*/

    header {
        width: 50%;
        margin-top: 3rem;
        margin-bottom: 1rem;
    }

    main {
        width: 80%;
    }

    #curPlayer {
        font-size: 2rem;
        margin-bottom: 1rem;
    }

    footer {
        width: 90%;
    }

    footer a {
        /*buttons*/
        text-decoration: none;
        font-weight: bold;
        color: rgb(14, 14, 58);
        background-color: yellow;
        border-radius: 1rem;
        margin: -7rem 1rem -7rem 0.5rem;
        padding: 1rem;
    }

    h2 {
        color: yellow;
        font-size: 2rem;
        margin: 0 auto 3rem auto;
        animation: scale 0.5s infinite;
    }

    section {
        height: 47%;

        display: grid;
        grid-template-columns: repeat(3, 5.5rem);
        grid-template-rows: repeat(3, 5.5rem);
    }

    #back-button {
        padding: 1rem 5rem;

        margin-top: 0;
    }

    div[data-idx="0"],
    div[data-idx="1"],
    div[data-idx="3"],
    div[data-idx="4"],
    div[data-idx="6"],
    div[data-idx="7"] {
        border-right: purple 0.3rem solid;
    }

    div[data-idx="0"],
    div[data-idx="1"],
    div[data-idx="2"],
    div[data-idx="3"],
    div[data-idx="4"],
    div[data-idx="5"] {
        border-bottom: purple 0.3rem solid;
    }
}